.pu-missile {
  position: fixed;
  left: 10px;
  bottom: 70px;
  display: inline-flex;
}

.pu-shield {
  position: fixed;
  left: 10px;
  bottom: 10px;
  display: inline-flex;
}

img {
  height: 50px;
  margin-right: 5px;
}
